.header {

}

.header h1{
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 900;
  font-size: 35px;
  line-height: 47px;
  letter-spacing: 1px;
  text-align: center;
}
.main-menu {
  
}

.main-menu ul {
  display: flex;
  width: auto;
  justify-content: center;
  
  list-style: none;
}

.main-menu li {
  margin-right: 75px;
  text-transform: uppercase;
}

.highlight {
  background-image: url("src/Hotel-11.jpg");
  height: 464px
}

.galaryIcon {
  display: block;
  margin: auto;
  padding-top: 46px;
}

.highlight h2{
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}

.highlight p{
 
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #fff;
}